.movies-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 30px;
  padding: 0;
}

.movies-card-list_3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.movies-card-list_2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.movies-card-list_1-column {
  grid-template-columns: 1fr;
}
