.movies {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.movies__content {
  width: min(1280px, 100%);
  padding: 0 70px 0 70px;
  box-sizing: border-box;
}

.movies__search-form {
  margin-bottom: 80px;
}


@media screen and (max-width: 1279px) {
  .movies__content {
    padding-left: 50px;
    padding-right: 50px;
  }

}

@media screen and (max-width: 767px) {
  .movies__content {
    padding-left: 18px;
    padding-right: 18px;
  }
}
