.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}

.not-found__title {
  padding: 0;
  margin: 246px 0 0 0;
  width: 400px;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;

}

.not-found__text {
  padding: 0;
  margin: 5px 0 0 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.not-found__back-button {
  margin: auto 0 60px 0;
  cursor: pointer;
  border: none;
  color: #2BE080;
  padding: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  background-color: white;
}


@media screen and (max-width: 767px) {
  .not-found {
    min-height: 780px;
  }

  .not-found__title {
    margin-top: 329px;
    font-size: 80px;
    line-height: 97px;
    width: 300px;
  }

  .not-found__text {
    font-size: 12px;
    margin-top: 10px;
  }

  .not-found__back-button {
    font-size: 12px;
    margin-bottom: 30px;
  }

}
