.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content__page {
  width: min(1280px, 100%);
  box-sizing: border-box;
  padding: 0 70px 10px 70px;
}

.main-content__page_dark {
  background-color: #073042;
  padding: 0;
  color: white;
}

.main-content__page_grey {
  background-color: #F5F5F5;
}

.main-content__page_promo {
  min-height: 664px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.main-content__student-content {
  margin-top: 66px;
}

.main-content__title {
  border-bottom: 1px solid black;
  padding-bottom: 23px;
  margin: 110px 0 0 0;

  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: -0.04em;
}

.main-content__promo {
  margin-top: 6px;
}

.main-content__title_tech {
  margin-top: 90px;
}

.main-content__portfolio {
  margin: 100px 0;
}

.main-content__about-project {
  margin: 0 0 10px 0;
}

.main-content__tech {
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .main-content__footer {
    background: #FAFAFA;
  }
}

@media screen and (max-width: 1279px) {
  .main-content__page {
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-content__page_dark {
    padding: 0;
  }

  .main-content__title {
    margin-top: 90px;
  }

  .main-content__title_tech {
    margin-top: 90px;
  }

  .main-content__page_promo {
    min-height: 930px;
  }

  .main-content__portfolio {
    margin-top: 90px;
    margin-bottom: 70px;
  }

}

@media screen and (max-width: 767px) {
  .main-content__page {
    padding-left: 14px;
    padding-right: 14px;
  }

  .main-content__page_dark {
    padding: 0;
  }

  .main-content__title {
    margin-top: 70px;
    font-size: 18px;
    padding-bottom: 30px;
  }

  .main-content__title_tech {
    margin-top: 60px;
  }

  .main-content__page_promo {
    min-height: 710px;
  }

}



