.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-content__page {
  width: min(1280px, 100%);
  min-height: 100vh;
  padding: 0 70px 0 70px;
}

.main-content__page_dark {
  background-color: #073042;
  padding: 0;
  color: white;
}

.main-content__page_grey {
  background-color: #F5F5F5;
}

.main-content__page_promo {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.main-content__title {
  margin: 0;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
  margin: 110px 0 0 0;
}
