.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-content__page {
  width: min(1280px, 100%);
  padding: 0 70px 0 70px;
}

.main-content__page_dark {
  background-color: #073042;
  padding: 0;
  color: white;
}

.main-content__page_grey {
  background-color: #F5F5F5;
}

.main-content__page_promo {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.main-content__student-content {
  margin-top: 66px;
}

.main-content__title {
  margin: 0;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
  margin: 110px 0 0 0;
}

.main-content__portfolio {
  margin: 100px 0 125px 0;
}

.main-content__about-project {
  margin: 0 0 110px 0;
}

.main-content__tech {
  margin: 0 0 100px 0;
}
