.navigation {
  display: none;
  position: fixed;
  right: 0;
  top: 0;

  background-color: white;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  width: min(100%, 520px);
}

.navigation_opened {
  display: flex;
}
.navigation__internal-content {
  position: relative;

  height: 100vh;

  top: 0;
  right: 0;
  margin: 159px 0 0 0;
  position: relative;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
}

.navigation__links-block {
  margin-top: 159px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__close-button {
  position: absolute;
  right: 14px;
  top: 14px;
  border: none;
  background-image: url('../../images/close-button.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.navigation__link {
  margin-bottom: 2px;
  margin-top: 24px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  text-align: center;
}


.navigation__link:hover{
  margin-bottom: 0;
  border-bottom: 2px black solid;
}

.navigation__link_account {
  margin-top: 159px;
}

.navigation__link_account:hover{
  border-bottom: None;
  box-shadow: black 2px solid;
}

