.search-form {
  border-bottom: 1px solid #AAAAAA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__widget {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;
  column-gap: 19px;
  background: #FDFDFD;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  margin: 70px 0 0 0;
  position: relative;
}


.search-form__filter-container {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 29px 0 30px;
  border-left: solid 1px #CBCBCB;
  min-height: 40px;
}

.search-form__filter-container_external {
  border-left: none;
  align-self: center;
  margin-bottom: 58px;
}

.search-form__widget-title {
  margin: 0 0 0 14px;
  padding: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.search-form__submit-button {
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  background-image:url('../../images/search-button.png');
  background-repeat: no-repeat;
  width: 80px;
  height: 34px;
}

.search-form__filter-button {
  border: none;
  cursor: pointer;
  background-image:url('../../images/checkbox-active.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 20px;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.search-form__filter-button_disable {
  background-image:url('../../images/checkbox-disable.png');
}

.search-form__input {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  border: none;
  margin: 19px 19px 19px 19px;
  box-sizing: content-box;
}

.search-form__placeholder {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
}

.search-form__placeholder-icon {
  width: 20px;
  height: 20px;
}

.search-form__placeholder-text {
  padding: 0;
  margin: 0 0 0 19px;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  border: none;
  color: #A0A0A0;
}



@media screen and (max-width: 767px) {
  .search-form__filter-container_external {
    border-left: none;
    align-self: center;
    margin-bottom: 58px;
  }

  .search-form__widget {
    padding-bottom: 0;
  }
  }


