.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 18px 0;
}

.header__main-logo {
  width: 38px;
  height: 38px;
}

.header__account-logo {
  width: 100px;
  height: 38px;
}

.header__links-block {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.header__links-block_unauth {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.header__link {
  color: black;
  text-decoration: none;
  cursor: pointer;

  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
}

.header__link_dark {
  color: white;
}

.header__link_account {
  width: 100px;
}

.header__link_movies {
  margin-right: 20px;
  text-decoration: none;

  font-weight: 500;
}

.header__link_saved-movies {
  margin-right: 50px;
}

.header__link_login {
  background: #2BE080;
  border-radius: 3px;
  padding: 8px 20px;
}

.header__link_register {
  margin-right: 20px;
}

.header__burger {
  display: none;
  border: none;
  background-image: url('../../images/burger-icon.svg');
  background-repeat: no-repeat;
  width: 40px;
  height: 43px;
  background-color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .header__links-block_auth {
    display: none;
  }

  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 767px) {

  .header__link {
    font-size: 10px;
  }

  .header__link_login {
    padding: 5px 12px;
  }
}
