.register {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register__header {
  margin-top: 70px;
}

.register__content {
  width: min(396px, 100%);
}

.register__button {
  margin-top: 69px;
}

.register__helper {
  margin-top: 16px;
}
