.register {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register__header {
  margin-top: 70px;
}

.register__content {
  width: min(396px, 100%);
}

.register__submit-block {
  margin-top: 69px;
}

.register__helper {
  margin-top: 16px;
}

.register__error {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .register__content {
    width: min(260px, 100%);
    margin: 0 auto;
    box-sizing: content-box;
    padding: 30px;
  }

  .register__submit-block {
    margin-top: auto;
  }
}
