.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech__title {
  padding: 0;
  margin: 90px 0 0 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 600px;
}

.tech__description {
  max-width: 460px;
  padding: 0;
  margin: 26px 0 0 0;

  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
}

.tech__tech-items {
  padding: 0;
  margin: 100px 0 90px 0;
}


.tech-items {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
}

.tech-items__item {
  width: 90px;
  padding: 21px 0 21px 0;
  border-radius: 10px;
  background-color: #E8E8E8;
  text-align: center;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.04em;
}


@media screen and (max-width: 1279px) {

  .tech__title {
    margin-top: 80px;
  }

  .tech__description {
    margin-top: 22px;
    font-size: 12px;
    line-height: 1.5;
  }

  .tech__tech-items {
    margin-top: 83px;
    margin-bottom: 90px;
  }

  .tech-items__item {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .about__timeline {
    margin-top: 60px;
    margin-bottom: 49px;
  }

  .tech__title {
    margin-top: 60px;
    font-size: 30px;
    line-height: 1.2;
  }

  .tech-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .tech__tech-items {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .tech-items__item {
    font-size: 12px;
  }

}

