.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login__content {
  width: min(396px, 100%);
  margin: auto 0px;
  min-height: 700px;
}

.login__button {
  margin-top: 178px;
}

.login__helper {
  margin-top: 16px;
}


@media screen and (max-width: 767px) {
  .login__header {
    margin-top: 56px;
  }
  .login__content {
    width: min(260px, 100%);
  }

}
