.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login__content {
  width: min(396px, 100%);
}

.login__header {
  margin-top: 70px;
}

.login__button {
  margin-top: 178px;
}

.login__helper {
  margin-top: 16px;
}


@media screen and (max-width: 1279px) {
  .form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width: 767px) {
  .login__content {
    width: min(260px, 100%);
    margin: 0 auto;
    box-sizing: content-box;
    padding: 30px;
  }
}
