.nav-tab {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-tab__link {
  color: white;
  margin: 24px 20px 24px 20px;

  font-family: Inter, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
}


@media screen and (max-width: 767px) {
  .nav-tab {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tab__link {
    margin: 24px 20px 24px 20px;
    font-size: 11px;
  }
}
